$color_primary:#B02A16;
$color_secondary:#51A1B9;
.-color-primary{color:$color_primary;}

//Default
ol, ul, dl{
    padding: 0;
}
body {
    font-family: 'RyuminPr5-Light', serif;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    position: relative;
    background: #fff;
    --menu-left: 260px;
    --menu-mb: 87px;
}

a, a:hover {
    color: #4D4D4D;
    text-decoration: none;
    // transition: all 0.3s;
}
p{
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    line-height:normal;
}

ol, ul {
    list-style: none;
    margin-bottom: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}
a {
    outline: none;
}
strong{
    font-weight: 700;
}
hr{
    margin: 25px 0;
    opacity: 1;
    background-color: #F1F1F1;
}
label{
    cursor: pointer;
}

input{
    &.form-control{
        padding: 10px 40px;
        height: 48px;
        font-size: 14px;
        &::placeholder {
            color: #A7A5A5;
        }
    }

}
textarea{
    &.form-control{
        padding: 25px 35px;
        &::placeholder {
          font-size: 11px;
          color: #A7A5A5;
        }
    }

}
.text-underline{
    text-decoration: underline;
}
.p-40{
    padding: 40px;
}
.font14{
    font-size: 14px;
    line-height: normal;
}
.letter-spacing-a1{
    letter-spacing: -1px;
}
.letter-spacing-a2{
    letter-spacing: -2px;
}
.letter-spacing-a3{
    letter-spacing: -3px;
}
.letter-spacing-a4{
    letter-spacing: -4px;
}
.-color-A7A5A5{
    color: #A7A5A5;
}

.rotate-180 {
    transform: rotate(180deg);
}
/**/
.videoWrapper{position:relative;padding-top:56.25%;/* 16:9 */height:0;}
.videoWrapper iframe,.videoWrapper object,.videoWrapper embed{position:absolute;top:0;left:0;width:100%;height:100%;}

/**/
.dnfix__thumb{
    position:relative;height:auto;width:100%;overflow:hidden;display:block;padding-top:68.075%;
    img{margin:0px auto;position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover;}
    &.-contain img{object-fit:contain;}
    &.-pt100{
        padding-top: 100%;
    }
}

/* Text truncate */
.text__truncate{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;display:-webkit-inline-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.text__truncate.-n2{-webkit-line-clamp:2;}
.text__truncate.-n3{-webkit-line-clamp:3;}
.text__truncate.-n4{-webkit-line-clamp:4;}


/*br*/
br{
}
/**/
.btn{
    position:relative;
    border: 0;
    line-height: normal;
    padding: 8px 30px;
    font-size: 14px;
    color: #000000;
    border-radius: 0;
    border: 1px solid #D9D9D9;
    transition-duration: 0.3s;
    &:focus{
        box-shadow: none;
    }
    &:hover{
        background-color: #707070;
        color: #fff;
    }
    &.-arrow-right{
        &:after{
            content: "\e905";
            font-family: 'icomoon';
            font-size: 10px;
            font-weight: 400;
            position: absolute;
            top: 15px;
            right: 10px;
        }
    }
    &.-primary{
        border: 1px solid $color_primary;
        background: $color_primary;
        color: #fff;
        &:hover{
            background: #fff;
            color: $color_primary;
            border-color: $color_primary;
        }
    }

    &.-secondary{
        font-size: 11px;
        height: 48px;
        border: 1px solid #707070;
        background: #707070;
        color: #fff;
        border-radius: 23px;
        padding: 5px 20px;
        &:hover{
            background: #3f3f3f;
            color: #fff;
            border-color: #3f3f3f;
        }
    }
    @media (max-width: 1199px){

    }
    @media (max-width: 575px){
    }
}

/*Boostrap*/

.container-fluid{
    padding-right: 20px;
    padding-left: 20px;
}
.row{
    &.gx-45{
        margin-right: -20px;
        margin-left: -20px;
        >*{
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    .gx-5{
        margin-right: -5px;
        margin-left: -5px;
        >*{
            padding-right: 5px;
            padding-left: 5px;
        }
    }

}
.col-20{
    flex: 0 0 auto;
    width: 20%;
}

/* Slider */
.flickity {
    --bs-gutter-x: 1.5rem;
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    .slider__item__wrap{
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    @media (min-width: 1400px){
        --bs-gutter-x: 2.5rem;
    }
}

.flickity:not(.flickity-enabled){
    display: none;
}
.flickity-page-dots{
    bottom: -50px;
    .dot {
        transform: rotate(45deg);
        border-radius: 0;
        opacity: 1;
        &.is-selected, &:hover{
            background: linear-gradient(96.42deg, #EAC46D 0%, #CA8A33 101.38%);
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        }
    }

}
.flickity-prev-next-button{
    --dn-position: -54px;
    width: 36px;
    height: 39px;
    padding: 0;
    border-radius: 0;
    &:focus{
        box-shadow: none;
    }
}
/* Fade CSS */

.flickity--fade {
    .slider__item__wrap{
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        left: 0 !important;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: -1;
        &.is-selected {
          opacity: 1;
          z-index: 0
        }
    }
    .flickity-slider{
        transform: none !important;
    }
}

@media (max-width: 767px){

    body.home{
        .header{
            position: fixed;
            top: 0;
            left: 0;
        }
    }
    .container{
        max-width: 100%;
    }
}
@media (max-width: 575px){
    .input-fake{
        border: 1px solid #E5E5E5;
        border-radius: 3px;
        padding: 8px;
        height: 48px;
        line-height: 32px;
    }
    .home-slider{
        margin-left: -20px;
        margin-right: -20px;
        .slider__item__wrap {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .row {
        margin-right: -12px;
        margin-left: -12px;
        >*{
            padding-right: 12px;
            padding-left: 12px;
        }
        &.gx-45{
            margin-right: -12px;
            margin-left: -12px;
            >* {
                padding-right: 12px;
                padding-left: 12px;
            }
        }
    }
}
@media (max-width: 1199px){
    body {
        --header-height: 60px;
    }
}

@media (min-width: 576px){
    .col-sm-20{
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-sm-80{
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
}
@media (min-width: 768px){

}
@media (min-width: 992px){
    .gx-md-60{
        margin-right: -30px;
        margin-left: -30px;
        >*{
            padding-right: 30px;
            padding-left: 30px;
        }
    }
    .container-md-780{
        max-width: 810px;
    }
    .container-md-900 {
        max-width: 930px;
    }

}
@media (min-width: 1200px){
    .container, .container-fluid{
        max-width: 1200px
    }
}

